<%- include('partials/header') %>
<body class="not-found-page-layout">
    
    <%- include('partials/nav') %>
    <div class="notfound-main">
        <div class="message">
            
            <h2>404 Not Found</h2>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>