<%- include('partials/header') %>
<body class="contact-page-layout">
    <%- include('partials/nav') %>
    
    <div class="main">
        <div class="container">
            <dialog>
                <div class="modal">
                    <p>This feature will be available soon</p>
                    <button class="close-btn">Close</button>
                </div>
            </dialog>
            
            <div class="about-bitlore">
                <p class="heading">About <img src="/logo.png" alt="BITLORE" width="100px;"></p>
                <p class="desc">✦ BitLore is a calm space for your thoughts.
                    Write freely, share stories, and explore ideas without noise or distractions.
                    Whether it’s a quick thought or a long story, BitLore gives your words a place to live.</p>
                <p class="desc">✦ BitLore currently supports plain-text writing to keep the focus on ideas, not formatting.</p>
            </div>
            <div class="contact">
                <p class="title">Get in touch!</p>
                <p class="desc">Have feedback, questions, or ideas to improve BitLore?</p>
                <form>
                    <input type="text" name="name" placeholder="Full name">
                    <div class="error name-error"></div>
                    <input type="text" name="email" placeholder="Email">
                    <div class="error email-error"></div>
                    <textarea name="message" id="message" rows="7" placeholder="Message"></textarea>
                    <input type="submit" value="Send">
                </form>
                
            </div>
            
        </div>
    </div>
    
    <%- include('partials/footer') %>
    <script>
        const modal = document.querySelector("dialog")
        const openButton = document.querySelector("form input[type='submit']")
        const closeButton = document.querySelector("dialog .close-btn")
        
        openButton.addEventListener("click",(e)=>{
            e.preventDefault()
            modal.showModal()
        })
        closeButton.addEventListener("click",()=>{
            modal.close()
        })
    </script>
</body>