<%- include('partials/header') %>
<%- include('partials/nav') %>

 <div class="main">
            <div class="container">

                
                <h1>Sorry! no contacts</h1>
            </div>
        </div>

<%- include('partials/footer') %>