
    <nav>
    <ul>
        <li><h2><a href="/"><b><i><u>BitLore</u></i></b></a></h2></li>
        <li><a href="/">Home</a></li>
        <li><a href="/myblogs">My Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contact</a></li>
        <% if (user) { %>
            <li><a href="/@<%= user.username %>">Profile</a></li>
        <% }if(user && user.role === "admin") {%>
            <li><a href="/admin %>">Admin</a></li>
        <% } %>
    </ul>
    <ul>
        
        <% if (user) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else {%>
                <li><a href="/auth/signup">Sign Up</a></li>
                <li><a href="/auth/login">Log In</a></li>
        <%} %>
         
    </ul>
</nav>