*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body,html{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.container{
    width:90vw;
    overflow:hidden;
}

nav{
    font-size: 14px;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type:none;
    padding:10px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    outline: none;
    /* background-color: rgb(205, 114, 114); */
    padding:2px 7px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color:black;
    outline: none;
}
.greetings{
    background-color: #fff;
    text-align: center;
    padding:8px;
}

.main{
    flex:1;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#fff;
}
.error-test{
    color:red;
}
.box1{
    display: flex;
    gap:20px;
    padding:10px;
}
.blogs{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap:20px;
}
.blog-card{
    border:1px solid black;
    margin:9px 0;
    padding:10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.blog-card #title{
    font-size: 30px;
    font-weight: 700;
}
.blog-card #desc{
    font-size: 14px;
    font-weight: 500;
}
.blog-card #author{
    font-size: 12px;
    font-weight: 400;
}
.blog{
    list-style-type: none;
    background-color:rgb(139, 219, 159);
    width:90vw;
    padding: 15px;
    margin:10px;
}
.blogForm form{
    display: flex;
    flex-direction: column;
    width:min(600px,80vw);
    margin-top: 40px;
    margin-bottom: 40px;
    gap:20px;
}
.blogForm form input:nth-of-type(1){
    height: 30px;
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.blogForm form input:nth-of-type(2){
    height: 50px;
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.blogForm form textarea{
    height: 200px;
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
.btn{
    width: 80px;
    border: none;
    background-color: rgb(205, 114, 114);
    padding: 4px;
    border-radius: 9px;
    cursor: pointer;
}
footer{
    border-top: 1px solid black;
    text-align: center;
    padding:10px;
}